@font-face {
  font-family: "meme";
  src: url("./meme.ttf") format("embedded-opentype"),
    url("./meme.ttf") format("woff2"), url("./meme.ttf") format("woff"),
    url("./meme.ttf") format("truetype"), url("./meme.ttf") format("svg");
}

* {
  font-family: "meme", sans-serif;
  color: white;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
  box-sizing: border-box;
}

#top-div {
  background: black;
  background: linear-gradient(to right, #0943af, #30007e);
  padding: 20px 20px 20px 20px;
  margin-bottom: 100px;
  width: 100%;
}

body {
  background: rgb(32, 32, 32);
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#meme-gen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#image-div {
  position: relative;
  width: fit-content;
}

#top-text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#bottom-text {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.meme-text {
  margin: 0px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin: 10px 0 10px 0;
}

.meme-image {
  display: block;
  max-width: 700px;
  max-height: 700px;
  width: auto;
  height: auto;
}
